.hero_card {
  background: linear-gradient(to bottom right, #fff2c7, #ffedc8);
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0, 0.15));
  border-radius: 4px;
}

.profile_pic_container {
  border-radius: 10px;
  width: 250px;
  height: 415px;
  margin-bottom: 4px;
  img {
    object-fit: cover;
    border-radius: 10px;
    object-position: -42px 0;
  }
}

.contact_btn {
  padding: 10px;
  gap: 8px;
  background: #00ac7c;
  border-radius: 4px;
  color: rgb(255, 255, 255, 0.85);
  font-weight: bold;
  width: calc(100% - 15px);
}

.contact_btn:hover {
  background: linear-gradient(to bottom, #85bfaf, #00ac7c);
  color: #fff !important;
}

@media (min-width: 920px) {
  #about_text {
    max-width: 600px !important;
  }
}

@media (max-width: 920px) {
  .about {
    margin: 132px 0px !important;
  }

  .about > div > div {
    justify-content: center !important;
  }

  #about_header {
    justify-content: center;
    margin-top: 18px;
  }

  #about_text {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .tags {
    gap: 12px !important;
    div {
      width: auto;
    }
  }
}
@media (max-width: 528px) {
  #about_header {
    a {
      padding-top: 10px !important;
    }
    p {
      font-size: 2rem !important;
    }
  }

  .tags {
    flex-direction: column !important;
    gap: 12px !important;
    div {
      width: auto;
      padding: 12px !important;
    }
  }
}
